<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>417174830206-5n7mjhnn66k7fuefm9vepkht7jp5c6dk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417174830206-5n7mjhnn66k7fuefm9vepkht7jp5c6dk</string>
	<key>API_KEY</key>
	<string>AIzaSyD_2lE91lBr9WQkPjO7iUGfnP1MaRM6cCg</string>
	<key>GCM_SENDER_ID</key>
	<string>417174830206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.woogie.iOS-Twitter</string>
	<key>PROJECT_ID</key>
	<string>twittertutorial-1c5cf</string>
	<key>STORAGE_BUCKET</key>
	<string>twittertutorial-1c5cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417174830206:ios:ba83434b2dd97eaa6f6c2f</string>
</dict>
</plist>